html {
  height: 100%;
  width: 100%;

}

body {
  background: url(gray_back.png);
}

h1 {
  background-color: lightcoral;
  background: #4f824f;
  color: red;

}

#mainheader {
  color: #f41a1a;
}

p.center {
  text-align: center;
}

/* Navbar */
.menu-toggle {
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.navbar {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo {
  font-size: 24px;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-links li {
  margin-right: 20px;

}

.nav-links a {
  color: white;
  text-decoration: none;
}

/* end navbar */

/* Responsive menu */
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #333;
    z-index: 1;
  }

  .nav-links.active {
    display: flex;
  }

  .nav-links li {
    margin-right: 0;
    margin-bottom: 10px;

  }

}


.footer {
  text-align: center;
  padding: 20px;
  background-color: #705757;
  color: #fff;
}
